/* Hex Codes: #fffdfd, #00cecb, #fdfefd, #0d1010, #fffdf1 */

h1 {
  color: #00cecb;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  color: #0d1010;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}